<ul class="faq">
    <li>
      1. How much does it cost?
      <p class="text-grey active">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni beatae
        distinctio ipsum veniam adipisci quidem?
      </p>
    </li>
    <li>
      2. Lorem ipsum dolor sit amet.
      <p class="text-grey">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni beatae
        distinctio ipsum veniam adipisci quidem?
      </p>
    </li>
    <li>
      3. Lorem ipsum dolor sit amet.
      <p class="text-grey">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni beatae
        distinctio ipsum veniam adipisci quidem?
      </p>
    </li>
    <li>
      4. Lorem ipsum dolor sit amet.
      <p class="text-grey">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni beatae
        distinctio ipsum veniam adipisci quidem?
      </p>
    </li>
  </ul>