<article class="porfolio">
  <span class="text-small gradient-one">Lorem ipsum dolor sit amet.</span>
  <h3 class="text-large">Market analysis</h3>
  <p class="mg-y-one">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, impedit.
  </p>
  <div class="porfolio-image">
    <img
      src="src/images/f0b61a37-5b6f-417f-8b86-7b5869e0013e.21cdd1e1a4cea9f5ab26a446cb6da9d2.webp"
      alt=""
    />
  </div>
</article>
<article class="porfolio porfolio-color">
  <span class="text-small gradient-one">Lorem ipsum dolor sit amet.</span>
  <h3 class="text-large">Market analysis</h3>
  <p class="mg-y-one">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, impedit.
  </p>
  <div class="porfolio-image">
    <img
      src="src/images/f0b61a37-5b6f-417f-8b86-7b5869e0013e.21cdd1e1a4cea9f5ab26a446cb6da9d2.webp"
      alt=""
    />
  </div>
</article>
