<div class="testinmonial">
  <div class="text-image">
    <img src="src/images/leader (1).png" alt="" />
  </div>
  <div class="five-star mg-top">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-regular fa-star"></i>
  </div>
  <p class="mg-y-one">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero similique est
    voluptatem dolor amet rerum libero deleniti incidunt consequatur
    consectetur.
  </p>
  <span class="name gradient-three text-small">So Kheng</span>
</div>
